@font-face {
	font-family: 'Material Icons Round';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons Round'),
		local('MaterialIconsRound-Regular'),
		url(MaterialIconsRound-Regular.woff2) format('woff2'),
		url(https://fonts.gstatic.com/s/materialiconsround/v37/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
}

.material-icons-round {
	font-family: 'Material Icons Round';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased; /* Webkit */
	text-rendering: optimizeLegibility; /* Safari and Chrome. */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
	font-feature-settings: 'liga'; /* IE */
}
